html {
  background: #100a1c;
  background-image:
    radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 横方向中央 */
  align-items: center;     /* 縦方向中央 */
}

h1 {
  display: block;       /* ブロック要素として上に表示 */
  text-align: center;   /* 中央寄せにしたい場合 */
  margin-bottom: 20px;  /* 電卓との間隔 */
}

table {
  background-color: #000;
  width: 300px;
  height: 400px;
  /* 電卓が浮き出るように影を付ける */
  border: solid 1px #dcdcdca4;
  border-right: solid 4px #dcdcdca4;
  border-bottom: solid 4px #dcdcdca4;
  border-radius: 10px;
  /* インライン要素を中央に配置 */
  text-align: center;
  padding: 8px;
  margin: 20px;
}
 
input {
  color: #fff; 
  width: 70px;
  height: 70px;
  font-size: x-large;
  background-color: #dcdcdca4;
  /* ボタンの詳細設定 */
  border: none;
  border-radius: 20px;
  /* クリック時の黒枠を消す */
  outline: none;
}
    
.display {
  width: 250px;
  text-align: right; /* 文字を右詰めに */
  /* 見た目の詳細設定 */
  background-color: #2596be;
  border-top: solid #dcdcdca4 5px;
  border-bottom: solid #dcdcdca4 5px;
  border-right: solid #b6b6b6 6px;
  border-left: solid #b6b6b6 6px;
  border-radius: 5px;
}
/* エラーメッセージ用の赤文字 */
.display.error {
  color: red;
}
/* 演算子の背景色を上書きで設定 */
.operator {
  font-size: 40px;
  background-color: orange;
}
/* 記号＝の部分の背景色を上書きで設定 */
.equal {
  font-size: 40px;
  background-color: #b6b6b6;
}
 
/* カーソルを上に乗せた時に色を濃くする */
input:hover {
  background: #747373b9;
}
.display:hover {
  background: #b84c93;
}
.operator:hover {
  background: #339cdd;
}
 
/* クリック時に色を濃くする */
input:active {
  background:  #5a5a5a;
}
.operator:active {
  background: #2c80b4;
}